In [22]:
import pandas as pd
import numpy as np 

import seaborn as sns
from matplotlib import pyplot as plt 
%matplotlib inline

In [23]:
!ls data

car-price-data.csv            telco-customer-churn-data.csv

In [31]:
df = pd.read_csv('data/telco-customer-churn-data.csv')
len(df)

7043

In [35]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [36]:
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [37]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [39]:
# "TotalCharges" column should be numeric data type but its type is "object".
# That is because some of its missing values are " "
# Let's verify that
total_charges = pd.to_numeric(df["TotalCharges"], errors="coerce")
df[total_charges.isnull()][["customerID", "TotalCharges"]]

      customerID TotalCharges
488   4472-LVYGI
753   3115-CZMZD
936   5709-LVOEQ
1082  4367-NUYAO
1340  1371-DWPAZ
3331  7644-OMVMY
3826  3213-VVOLG
4380  2520-SGTTA
5218  2923-ARZLG
6670  4075-WKNIU
6754  2775-SEFEE

In [40]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df['TotalCharges'] = df['TotalCharges'].fillna(0)

In [41]:
# Make column names, string column values more conventional 

df.columns = df.columns.str.lower().str.replace(" ", "_")

string_columns = list(df.dtypes[df.dtypes == "object"].index)
for col in string_columns:
    df[col] = df[col].str.lower().str.replace(" ", "_")

In [42]:
df.head().T

,0,1,2,3,4
customerid,7590-vhveg,5575-gnvde,3668-qpybk,7795-cfocw,9237-hqitu
gender,female,male,male,male,female
seniorcitizen,0,0,0,0,0
partner,yes,no,no,no,no
dependents,no,no,no,no,no
tenure,1,34,2,45,2
phoneservice,no,yes,yes,no,yes
multiplelines,no_phone_service,no,no,no_phone_service,no
internetservice,dsl,dsl,dsl,dsl,fiber_optic
onlinesecurity,no,yes,yes,yes,no
onlinebackup,yes,no,yes,no,no
deviceprotection,no,yes,no,yes,no
techsupport,no,no,no,yes,no
streamingtv,no,no,no,no,no
streamingmovies,no,no,no,no,no
contract,month-to-month,one_year,month-to-month,one_year,month-to-month
paperlessbilling,yes,no,yes,no,yes
paymentmethod,electronic_check,mailed_check,mailed_check,bank_transfer_(automatic),electronic_check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,no,no,yes,no,yes

In [44]:
# The target variable is "churn", which is categorical 
# Currently its values are "yes/no" and we need to convert that to binary 1/0 for convenience
df['churn'].value_counts()

no     5174
yes    1869
Name: churn, dtype: int64

In [45]:
df['churn'] = (df['churn'] == 'yes').astype(int)
df['churn'].value_counts()

0    5174
1    1869
Name: churn, dtype: int64

In [46]:
# Use library functions to do train-validate-test split

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
df_train_val, df_test = train_test_split(df, test_size=0.2, random_state=1)

In [49]:
df_train, df_val = train_test_split(df_train_val, test_size=0.33, random_state=11)

In [52]:
f"{len(df_train)/len(df):.2f}, {len(df_val)/len(df):.2f}, {len(df_test)/len(df):.2f}"

'0.54, 0.26, 0.20'

In [53]:
y_train = df_train['churn'].values
y_val = df_val['churn'].values
y_test = df_test['churn'].values

In [55]:
del df_train['churn']
del df_val['churn']

### Looking at data before training a model

In [57]:
# Missing values
df_train_val.isnull().sum()

customerid          0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [58]:
df_train_val['churn'].value_counts()

0    4113
1    1521
Name: churn, dtype: int64

In [61]:
nChurn = len(df_train_val[df_train_val['churn'] == 1])
f"Churn rate: {nChurn} / {len(df_train_val)} = {nChurn / len(df_train_val):.2f}"

'Churn rate: 1521 / 5634 = 0.27'

In [62]:
# Or: there is a quick way to compute this churn rate
# Churn Rate = ( (y[0]==1) + (y[1]==1) + ... + (y[n-1]==1) ) / n = sum(y[i] for i in 0 to n-1) / n = np.mean(y[i] for i in 0 to n-1)
# since y[i] is either 0 or 1
global_mean = np.mean(df_train_val['churn'])
global_mean

0.26996805111821087

In [63]:
# Separate categorical and numerical variables

In [66]:
print("Categorical columns:")
print(df_train.dtypes[df_train.dtypes == "object"].index)
print("Numerical columns:")
print(df_train.dtypes[df_train.dtypes != "object"].index)

Categorical columns:
Index(['customerid', 'gender', 'partner', 'dependents', 'phoneservice',
       'multiplelines', 'internetservice', 'onlinesecurity', 'onlinebackup',
       'deviceprotection', 'techsupport', 'streamingtv', 'streamingmovies',
       'contract', 'paperlessbilling', 'paymentmethod'],
      dtype='object')
Numerical columns:
Index(['seniorcitizen', 'tenure', 'monthlycharges', 'totalcharges'], dtype='object')

In [67]:
df_train['seniorcitizen'].value_counts()

0    3167
1     607
Name: seniorcitizen, dtype: int64

In [68]:
categorical = ['seniorcitizen', 'gender', 'partner', 'dependents', 'phoneservice', 
    'multiplelines', 'internetservice', 'onlinesecurity', 'onlinebackup', 'deviceprotection', 
    'techsupport', 'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod']

numerical = ['tenure', 'monthlycharges', 'totalcharges']

In [69]:
# number of distinc values for each categorical variable
df_train_val[categorical].nunique()

seniorcitizen       2
gender              2
partner             2
dependents          2
phoneservice        2
multiplelines       3
internetservice     3
onlinesecurity      3
onlinebackup        3
deviceprotection    3
techsupport         3
streamingtv         3
streamingmovies     3
contract            3
paperlessbilling    2
paymentmethod       4
dtype: int64

### Feature importance

#### Categorical and numerical variables are treated differently

#### Categorical variables

In [73]:
# "gender" may not be a determining feature
churn_rate_female = np.mean(df_train_val[df_train_val['gender'] == 'female']['churn'])
churn_rate_male = np.mean(df_train_val[df_train_val['gender'] == 'male']['churn'])
global_mean, churn_rate_female, churn_rate_male

(0.26996805111821087, 0.27682403433476394, 0.2632135306553911)

In [74]:
# "partner": having a partner or not seems important
churn_rate_partner_yes = np.mean(df_train_val[df_train_val['partner'] == 'yes']['churn'])
churn_rate_partner_no = np.mean(df_train_val[df_train_val['partner'] == 'no']['churn'])
global_mean, churn_rate_partner_yes, churn_rate_partner_no

(0.26996805111821087, 0.20503330866025166, 0.3298090040927694)

In [75]:
# Risk Ratio = Group Rate / Global Rate
## If Risk Ratio is close to 1: the group has the same level as the rest of the population (not outstandingly risky)
## If Risk Ratio < 1: the group has less risk (here, lower churn rate)
## If Risk Ratio > 1: the group has more risk (here, higher churn rate)

In [76]:
from IPython.display import display

In [78]:
df_train_val.groupby(by='gender')['churn'].agg(['mean'])

            mean
gender
female  0.276824
male    0.263214

In [79]:
for col in categorical:
    df_group = df_train_val.groupby(by=col)['churn'].agg(['mean'])
    df_group['risk ratio'] = df_group['mean'] / global_mean
    display(df_group)
    print("\n---------------------------------------------------\n")

                   mean  risk ratio
seniorcitizen
0              0.242270    0.897403
1              0.413377    1.531208

---------------------------------------------------

            mean  risk ratio
gender
female  0.276824    1.025396
male    0.263214    0.974980

---------------------------------------------------

             mean  risk ratio
partner
no       0.329809    1.221659
yes      0.205033    0.759472

---------------------------------------------------

                mean  risk ratio
dependents
no          0.313760    1.162212
yes         0.165666    0.613651

---------------------------------------------------

                  mean  risk ratio
phoneservice
no            0.241316    0.893870
yes           0.273049    1.011412

---------------------------------------------------

                      mean  risk ratio
multiplelines
no                0.257407    0.953474
no_phone_service  0.241316    0.893870
yes               0.290742    1.076948

---------------------------------------------------

                     mean  risk ratio
internetservice
dsl              0.192347    0.712482
fiber_optic      0.425171    1.574895
no               0.077805    0.288201

---------------------------------------------------

                         mean  risk ratio
onlinesecurity
no                   0.420921    1.559152
no_internet_service  0.077805    0.288201
yes                  0.153226    0.567570

---------------------------------------------------

                         mean  risk ratio
onlinebackup
no                   0.404323    1.497672
no_internet_service  0.077805    0.288201
yes                  0.217232    0.804660

---------------------------------------------------

                         mean  risk ratio
deviceprotection
no                   0.395875    1.466379
no_internet_service  0.077805    0.288201
yes                  0.230412    0.853480

---------------------------------------------------

                         mean  risk ratio
techsupport
no                   0.418914    1.551717
no_internet_service  0.077805    0.288201
yes                  0.159926    0.592390

---------------------------------------------------

                         mean  risk ratio
streamingtv
no                   0.342832    1.269897
no_internet_service  0.077805    0.288201
yes                  0.302723    1.121328

---------------------------------------------------

                         mean  risk ratio
streamingmovies
no                   0.338906    1.255358
no_internet_service  0.077805    0.288201
yes                  0.307273    1.138182

---------------------------------------------------

                    mean  risk ratio
contract
month-to-month  0.431701    1.599082
one_year        0.120573    0.446621
two_year        0.028274    0.104730

---------------------------------------------------

                      mean  risk ratio
paperlessbilling
no                0.172071    0.637375
yes               0.338151    1.252560

---------------------------------------------------

                               mean  risk ratio
paymentmethod
bank_transfer_(automatic)  0.168171    0.622928
credit_card_(automatic)    0.164339    0.608733
electronic_check           0.455890    1.688682
mailed_check               0.193870    0.718121

---------------------------------------------------

In [80]:
# More quantitative way: mutal information 
# It measures the degree of dependency between a categorical variable and the target variable

In [81]:
from sklearn.metrics import mutual_info_score

In [82]:
def get_mutual_info(series1, series2=df_train_val['churn'].values):
    return mutual_info_score(series1, series2)

In [83]:
df_mutual_info = df_train_val[categorical].apply(get_mutual_info)
df_mutual_info

seniorcitizen       0.009410
gender              0.000117
partner             0.009968
dependents          0.012346
phoneservice        0.000229
multiplelines       0.000857
internetservice     0.055868
onlinesecurity      0.063085
onlinebackup        0.046923
deviceprotection    0.043453
techsupport         0.061032
streamingtv         0.031853
streamingmovies     0.031581
contract            0.098320
paperlessbilling    0.017589
paymentmethod       0.043210
dtype: float64

In [86]:
type(df_mutual_info)

pandas.core.series.Series

In [87]:
df_mutual_info = df_mutual_info.sort_values(ascending=False).to_frame(name="Mutual Info")
df_mutual_info

                  Mutual Info
contract             0.098320
onlinesecurity       0.063085
techsupport          0.061032
internetservice      0.055868
onlinebackup         0.046923
deviceprotection     0.043453
paymentmethod        0.043210
streamingtv          0.031853
streamingmovies      0.031581
paperlessbilling     0.017589
dependents           0.012346
partner              0.009968
seniorcitizen        0.009410
multiplelines        0.000857
phoneservice         0.000229
gender               0.000117